.container {
    padding-top: 90px;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container.img1 {
    background-image: url('../../assets/background/bg1.jpg');
}

.container.img2 {
    background-image: url('../../assets/background/bg2.jpg');
}

.navBar {
    list-style-type: none;
    width: max-content;
}

.navBar .navItem {
    margin-bottom: 15px;
}

.navBar .navItem a {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
}

.footer {
    text-align: center;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: whitesmoke;
}

.footer p {
    margin-left: 35px;
}

.footer p:first-child {
    margin-left: 0;
}

.footer p a {
    color: #121218;
}

@media screen and (max-width: 739px) {
    .footer {
        font-size: 1.5rem;
        height: 15vh;
    }

    .footer p {
        margin-left: 15px;
    }
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
    .footer {
        font-size: 2rem;
        height: 20vh;
    }

    .footer p {
        margin-left: 20px;
    }
}