.container {
    padding-top: 90px;
}

.colItem {
    margin-bottom: 25px;
}

.paraLabel {
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

p.info {
    font-size: 0.9rem;
    font-style: italic;
    max-height: 0;
    pointer-events: none;
    opacity: 0;
    transition: all .8s;
    overflow: hidden;
}

.inputPre:checked~p.preservation,
.inputRefund:checked~p.refund,
.inputPrefer:checked~p.preferential {
    max-height: 1000px;
    pointer-events: all;
    opacity: 1;
}