/* ====================Header PC==================== */
.nav {
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: transparent;
    user-select: none;
}

header {
    height: 70px;
    width: 100%;
    background-color: transparent;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

header.pc {
    display: flex;
    padding: 0 70px 0 45px;
}

header .logo {
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    align-self: flex-end;
}

header .logo a {
    text-decoration: none;
}

header .cart {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

header .cart i {
    font-size: 1.5rem;
}

header .cart div {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
    padding: 0 5px;
}

/* ==================== Cart list ==================== */
.cartItemList {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    width: 380px;
    max-width: 100%;
    background-color: rgba(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateX(100%);
    transition: all .35s linear;
}

.cartList {
    list-style-type: none;
    height: 300px;
    overflow-y: auto;
    scrollbar-width: .6vw;
    scrollbar-color: lightgreen rgba(200, 200, 200, .5);
}

.cartList::-webkit-scrollbar {
    width: .6vw;
}

.cartList::-webkit-scrollbar-thumb {
    background-color: lightgreen;
}

.cartList::-webkit-scrollbar-track {
    background-color: rgba(200, 200, 200, .5);
}

.cartItem {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    font-size: .9rem;
    border-bottom: 1px solid #ccc;
    ;
}

.cartItem:last-child {
    border-bottom: none;
}

.cartItem .cartItemImg {
    width: 75px;
    height: 75px;
}

.cartItem .cartItemImg img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

.cartItem .cartItemInfo {
    flex-grow: 1;
    margin-left: 10px;
}

.cartItem .cartItemInfo .itemQuantityNPrice {
    color: rgba(0, 0, 0, .5);
}

.cartItem .removeBtn {
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-align: center;
}

.cartItemList .totalPrice {
    margin: 15px 0;
    padding: 20px 10px;
    text-transform: uppercase;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.cartItemList .checkoutContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.cartItemList .checkoutContainer .btn {
    height: 40px;
    padding: 0 10px;
    text-transform: capitalize;
    line-height: 40px;
    font-size: 1rem;
    outline: none;
    border: 1px solid #121218;
    cursor: pointer;
    transition: all .3s linear;
}

.cartItemList .checkoutContainer .btn:hover {
    background-color: #121218;
    color: #fff;
}

.cartItemList .checkoutContainer .checkoutBtn {
    background-color: #121218;
    color: #fff;
    text-decoration: none;
}

.cartItemList .checkoutContainer .checkoutBtn:hover {
    background-color: rgba(18, 18, 24, 0.8);
}

/* Empty cart */
.cartItemList .emptyCart {
    text-align: center;
    padding: 20px;
}

/* Hien thi ra Cart list */
.inputCart:checked~.cartOverlay {
    display: block;
}

.inputCart:checked~.cartItemList {
    transform: translateX(0);
    opacity: 1;
}

/* ==================== Mobile header ==================== */
header.tabletMobile {
    display: none;
}

header.tabletMobile .navBarsBtn {
    align-self: center;
    font-size: 2rem;
    cursor: pointer;
}

.navOverlay,
.cartOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    cursor: pointer;
    display: none;
    animation: fadeIn .35s linear;
}

/* Overlay keyframe */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Nav mobile list */
.navMobileList {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    max-width: 100%;
    background-color: rgba(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateX(-100%);
    transition: all .35s linear;
}

.navMobileList .closeBtn,
.cartItemList .closeBtn {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 27px;
    padding: 10px;
    cursor: pointer;
}

.navBar,
.childNavBar {
    list-style-type: none;
    text-transform: capitalize;
}

.navBar {
    border-top: 1px solid #ccc;
}

.childNavBar .childNavItem a {
    font-size: 0.8rem;
    padding-left: 2.5rem;
    display: block;
    width: 100%;
}

.navItem a {
    text-decoration: none;
    color: #121218;
    display: block;
    padding: 14px 20px;
    font-size: 1rem;
}

.navItem:hover,
.childNavItem:hover {
    background-color: whitesmoke;
}

.navItem:hover>.childNavBar {
    background-color: #fff;
}

/* Hien thi ra mobile nav va overlay */
.inputMobile:checked~.navOverlay {
    display: block;
}

.inputMobile:checked~.navMobileList {
    transform: translateX(0);
    opacity: 1;
}


/* ==================== Responsive ==================== */
@media screen and (max-width: 739px) {
    header.tabletMobile {
        padding: 0 10px;
    }

    header .logo {
        font-size: 1.8rem;
    }

    header .cart i {
        font-size: 1rem;
    }

    header .cart div {
        font-size: .75rem;
        width: 1rem;
        height: 1rem;
    }

    header.tabletMobile .navBarsBtn {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
    header.tabletMobile {
        padding: 0 20px;
    }

    header .logo {
        font-size: 2rem;
    }

    header .cart i {
        font-size: 1.2rem;
    }

    header .cart div {
        font-size: .8rem;
        width: 1.2rem;
        height: 1.2rem;
    }

    header.tabletMobile .navBarsBtn {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 1023px) {
    .nav header.pc {
        display: none;
    }

    .nav header.tabletMobile {
        display: flex;
    }

    .cartItemList {
        width: 100%;
    }
}